# Formatting & Code Quality
black
flake8
isort

# Interactive & Notebooks
ipython
jupyterlab
notebook

# Data Visualization
matplotlib
seaborn

# Documentation
mkdocs

# Data Science & Machine Learning
numpy
pandas
scikit-learn
transformers
torch
xgboost
lightgbm

# Serialization & File Formats
pyarrow

# Utilities
pip
python-dotenv
emoji

# NLP
spacy

# Local Package (Editable Install)
-e .
